* {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 112.5;
  margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1.title {
    padding-top: 10px;
    user-select: none;
}

body {
    margin: 0;
    background-color: darkslategrey;
}

header {
    background-color: rgb(79, 165, 112);
    text-align: center;
    padding-bottom: 9px;
    position: sticky;
}

div {
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(100, 180, 131);
}

.sidemenu {
  display: none;
  background-color: rgb(79, 165, 112);
  border-radius: 0px;
  border-bottom-right-radius: 20px;
  margin: 0;
  position: absolute;
  left: 0;
  width: 10%;
  height: 50%;
}
